<% include ../partials/header %>

<div class="container">
  <h1 class="text-center">Create a New writing</h1>

  <form action="/writings" method="POST">
    <div class="form-group">
      <input class="form-control" type="text" name="title" placeholder="title">
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" id="typeEssay" value="Essay" checked>
      <label class="form-check-label" for="typeEssay">
        Essay
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" id="typeArticle" value="Article" checked>
      <label class="form-check-label" for="typeArticle">
        Article
      </label>
    </div>
    <div class="form-group">
      <textarea id="new-writing-body" class="form-control" name="body"
          placeholder="Add your writing here..."></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary">Submit!</button>
    </div>
  </form>
  <a href="/writings">Go Back</a>
</div>

<% include ../partials/footer %>
